* {
    padding: 0;
    margin: 0;
}

a {
    display: block;
    padding-left: 1em;
    font-family: Apple Chancery, cursive;
    font-size: 20px;
    font-style: italic;
    text-align: center; 
    justify-content: center;
}

.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sidenav {
    list-style-type: none;
}

.card-img-top2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 25px;
}

.swal-overlay {
    background: linear-gradient(gray, white);
}

.swal-modal {
    width: 65%;
    background-color: transparent;
}

.menu-hash {
    float:left;
    padding-top: 8px;
    padding-left: 5px;
    padding-right: 5px;
}

.menu-hash:hover {
    cursor: pointer;
}

.menu-hash:before,
.menu-hash::after,
.menu-hash div {
   display: none;
   background:white;
   content: "";
   display: block;
   height: 3px;
   margin: 6.2px 0;
   transition: 0.3s;
}

.menu-hash:hover:before {
    transform: translateY(-3px) rotate(-130deg);
    background-image: linear-gradient(to right, rgb(120, 119, 119), white);
}

.menu-hash:hover:after {
    transform: translateY(3px) rotate(130deg);
    background-image: linear-gradient(to right, rgb(120, 119, 119), white);
}

.menu-hash:hover #hash {
    transform: scale(0);
}

#hash {
    width: 40px;
    background-color: white;
    margin: 8px 0;
}

#link-search-home,
#link-search-nutrition,
#link-search-recall,
#link-search-about,
#link-search-facts {
    color: black;
    font-size: 20px;
    font-family: monospace
}

#menu {
    text-align: center;
    font-size: 25px;
    font-family: Apple Chancery, cursive;
    color: black;
}

#menu1 {
    text-align: center;
    padding-left: 20px;
    padding-top: 10px;
    font-size: 15px;
    font-style: italic;
}

#title {
    display: inline;
    height: 30px;
    font-size: 25px;
    color: white;
}

.searchBtn {
    object-fit: cover;
}

#facts-info {
    font-size: 20px;
    border: solid;
    margin-top: 20px;
    background: linear-gradient(rgb(255, 237, 237), white);
    color: black;
}

#facts-info1 {
    font-size: 25px;
    margin-top: 20px;
    color: black;
    background: linear-gradient( rgb(238, 238, 218), rgb(255, 255, 255), rgb(255, 255, 255), rgb(238, 238, 218));
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

hr.separator-bg {
    border: 0;
    height: 3em;
    background-image: url(./Images/separator-image.png);
    background-position: center;
    background-size: cover;
    color: black;
    background-color: transparent;
    background-repeat: no-repeat;
}

hr.separator-bg1 {
    border: 0;
    height: 3em;
    background-image: url(./Images/menu-bar-separator.png);
    background-position: center;
    background-size: cover;
    color: black;
    background-repeat: no-repeat;
}

#socials-included {
    width: 50%;
    cursor: pointer;
}
#socials-included:hover {
    width: 100%;
    cursor: pointer;
    background-color: rgb(223, 220, 220);
}

#hover-effects1 {
    color: black;
}

#hover-effects1:hover {
    color: blue;
}

.hover-effect {
    text-align: center;
    background: linear-gradient(rgb(97, 214, 132), white);
    font-size: 30px;
    font-family: monospace;
    color: black;
}

.hover-effect:hover {
    background: linear-gradient(rgb(92, 179, 118), rgb(224, 224, 224));
    font-size: 35px;
}

#city-list1 {
    text-align: center;
    background: linear-gradient(rgb(119, 190, 140), white);
    font-family: monospace;
    font-size: 20px;
}

#clear-history {
    text-align: center;
    background: linear-gradient(rgb(241, 98, 98), white);
    font-size: 20px;
    font-family: monospace;
}

#clear-history:hover {
    cursor: pointer;
    background: linear-gradient(rgb(168, 73, 73), rgb(199, 196, 196));
    font-size: 25px;
}